.TextArea>input{
  background-color: transparent;
  resize: none;
  width: 100%;
  padding: 0;
  margin-left: 1rem;
  color: #7D7D7D;
  min-height: calc(100vh - 2rem);
  border: none;
  outline: none;
}

.TextArea{
  display: flex;
}
/* 
 */
 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9c88ff;
}

li {
  float: left;
  background-color: #111;
  margin-right: 0.1rem ;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: gray;
}

.Messages{
  display: flex;
  justify-content: space-around;
  
}

.Message{
  display: flex;
  justify-content:center;
}
.MessageSub{
  background-color: #9c88ff;
  width: fit-content;
  padding:5rem;
  margin:2rem;
}

.TextBox{
  display: flex;
  justify-content:space-around;
  padding:1rem;
}

.EditSub{
  display: flex;
  flex-direction:column;
  width:fit-content;
  background-color: #9c88ff;
  padding:1rem;
  justify-content: center;
  padding: 5rem;
}

.Edit{
  display: flex;
  justify-content:center;
  margin: 2rem;
}

.EditButton>input{
  background-color:greenyellow;
  text-align:center;
}

.MessageSnippet>pre{
  background-color:#ADD8E6;
  padding:2rem;
  width:fit-content
}

body{
  background-color:#353b48;
}

.HomeHeader {
  color:white;
}

.AppHeader {
  color:white;
}